.container {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin: auto;
    background-color: var(--background-container-color);
    padding: 1rem;
    border-radius: 5px;
}

.secao-do-formulario.nome-do-produto {
    padding-left: 15px;
    margin-right: 20rem; 
    font-size: 24px;
}

p {
    margin: 1rem;
    font-size: 20px;
}

.search-icon {
    cursor: pointer;
}

.botao-alterar {
    padding: 2rem;
    border-radius: 50%;
    font-size: 30px;
    
}