.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-container-color);
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
}

.container {
  font-size: 1.4rem;
}

.container > p {
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__titulo {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-style: uppercase;
}

.secao-do-formulario {
  margin-bottom: 1rem;
}

.data-personalizada,
.nome-do-produto {
  display: flex;
  flex-direction: column;
}

.data-personalizada {
  display: none;
}

.data {
  font-size: 1.2rem;
}
