.container {
    margin-bottom: 1rem;
}

.container__form {
    width: fit-content;
    background-color: var(--background-container-color);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    margin: auto;
}

.container__form__info {
    margin-bottom: 0.4rem;
}

.container__form__info > .required-info {
    color: red;
    font-size: 0.7rem;
}

.form__field {
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
}

.required-field::after {
    content: "*";
    font-size: 0.7rem;
    color: red;
    position: absolute;
    margin-left: 1px;
}

.conditions {
    font-size: 0.75rem;
    margin-left: 1rem;
}

.error-message {
    color: red;
    font-size: 0.5rem;
    margin-left: 5px;
}
