.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    max-width: 800px;
  }

.fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    background-color: rgba(131, 134, 142, 0.54);
    
    border-radius: 5px;
    
    padding: 20px 3% 1px;

   
}
  

  .secao-do-formulario {
    margin: 0.25rem 5% 0.5em;
    
  }
  
  .botao-confirmar {
    padding: 1rem;
    border-radius: 5%;
    font-size: 30px;
    text-align: center; 
    margin-top: 1em;
    
  }
  
  .btn-submit {
    padding: 10px 30px; 
    border-radius: 50px;
    cursor: pointer;
    border: solid 0.5px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #c4c8d6;
  }


  label {
    display: block;
  }
  
  footer {
    margin-top: auto; 
  }