.container {
    display: flex;
    justify-content: center;
    
}

.secao-do-formulario.nome-do-produto {
    margin-right: 20rem; 
    font-size: 24px;
}

p {
    margin: 1rem;
    font-size: 20px;
}

.search-icon {
    cursor: pointer;
}

.botao-excluir {
    padding: 2rem;
    border-radius: 50%;
    font-size: 30px;
    
}

.btn-submit {
    padding: 10px 30px; 
    border-radius: 50px;
    border: solid 0.5px black;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #c4c8d6;
    color: gray;
  }