@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #c8d1c7;
  --background-container-color: #eee;
  --main-color: #0070f3;
  --secondary-color: green;
  --error-color: red;
  --button-color: #0070f3;
  --button-color-hover: #115e9e;
  --button-font-color: #fff;
  --font-family: "Roboto", sans-serif;
}

.input-text {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.btn {
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  border: solid 1px black;
  background-color: var(--button-color);
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--button-font-color);
  border: none;
  text-align: center;
}

.btn:hover {
  background-color: var(--button-color-hover);
  transition: ease 200ms;
  cursor: pointer;
}

.btn-back {
  background-color: gray;
  margin-right: 1rem;
}

.btn-back:hover {
  background-color: black;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.logo h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
}

.logo p {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 1.15rem;
}

.green {
  color: green;
}

.blue {
  color: rgb(0, 17, 168);
}

.menu {
  display: grid;
  justify-content: center;
  align-items: center;
}

.menu__voltar {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.footer {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.user-name {
  font-size: 1.1rem;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

.btn-submit {
  padding: 0.5rem;
}

.menu {
  background-color: #eee;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
}
